.container{
    border-top-left-radius: 19px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    box-shadow: 12px 12px 22px grey;
}

body{
    background-color: rgb(219, 226, 226);
}