<div class="container">
    <h1>
        Employees
        <button routerLink="/app-add-employee-page" type="button" class="btn btn-dark">Add</button>

    </h1>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Id </th>
                <th scope="col"> First Name </th>
                <th scope="col"> Last Name </th>
                <th scope="col"> Email </th>
                <th scope="col"> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor ="let employee of employees">
                    <td> {{employee.id}}</td>
                    <td> {{employee.firstName}}</td>
                    <td> {{employee.lastName}}</td>
                    <td> {{employee.email}}</td>
                    <td>
                        <button (click)="navigateToViewEmployeeById(employee.id)" class="btn btn-dark">View</button> 
                    </td>
                    <td> 
                        <button (click)="navigateToEmployeeById(employee.id)" class="btn btn-dark">Edit</button> 
                    </td>
                    <td>
                        <button (click)="deleteEmployee(employee.id)" class="btn btn-dark">Delete</button>
                    </td>
            </tr>
        </tbody>

    </table>
</div>