<div class="container">
    <h1>
        Employees
        <button routerLink="/app-add-employee-page" type="button" class="btn btn-dark">Add</button>

    </h1>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Id </th>
                <th scope="col"> First Name </th>
                <th scope="col"> Last Name </th>
                <th scope="col"> Email </th>
                <th scope="col"> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor ="let employee of employees">
                    <td> {{employee.id}}</td>
                    <td> {{employee.firstName}}</td>
                    <td> {{employee.lastName}}</td>
                    <td> {{employee.email}}</td>
                    <td>
                        <button (click)="navigateToViewEmployeeById(employee.id)" class="btn btn-dark">View</button> 
                    </td>
                    <td> 
                        <button (click)="navigateToEmployeeById(employee.id)" class="btn btn-dark">Edit</button> 
                    </td>
                    <td>
                        <button (click)="openModal(modalData)" class="btn btn-dark">Delete</button>
                    </td>
            </tr>
        </tbody>
    </table>
    <ng-template #modalData let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Employees Page Info</h4>
              <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button> -->
            </div>
            <div class="modal-body">
              <p>The delete button is currently disabled while 
                  authorization and authentication are being added.</p>
              
              <!-- <p>All data related to west view profile will be removed permanently.
              </p> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
            </div>
    </ng-template>
</div>