<div class="container">
    <h1>Employee</h1>
    <form [formGroup]="employeeDetailsForm">
        <div class="innerFormContainer"> 
            <div class="form-group">
                <div class="row">
                <div class="col-md-2">
                        <label for="firstName" class="form-label">First Name</label>
                </div>
                <div class="col-sm-8">
                        <input class="form-control" id="firstName" type="text" formControlName="firstName"
                            name="firstName" [(ngModel)]="employee.firstName" readonly>
                </div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">
                        <label for="lastName" class="form-label">Last Name</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="lastName" type="text" formControlName="lastName"
                            name="lastName" [(ngModel)]="employee.lastName" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="email" class="form-label">Email</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="email" type="text" formControlName="email"
                            name="email" [(ngModel)]="employee.email" [email]="true" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="ssn" class="form-label">Ssn</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="ssn" type="text" formControlName="ssn"
                            name="ssn" [(ngModel)]="employee.ssn" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="age" class="form-label">Age</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="age" type="text" formControlName="age"
                            name="age" [(ngModel)]="employee.age" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="height" class="form-label">Height</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="height" type="text" formControlName="height"
                            name="height" [(ngModel)]="employee.height" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="weight" class="form-label">Weight</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="weight" type="text" formControlName="weight"
                            name="weight" [(ngModel)]="employee.weight" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="gender" class="form-label">Gender</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="gender" type="text" formControlName="gender"
                            name="gender" [(ngModel)]="employee.gender" readonly>
                    </div>
                </div>

                <form formGroupName="address">
                    <div class="addressContainer">
                        <h2>Address</h2>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="street" class="form-label">Street</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" id="street" type="text" formControlName="street"
                                    name="street" [(ngModel)]="employee.street" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="city" class="form-label">City</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" id="city" type="text" formControlName="city"
                                name ="city" [(ngModel)]="employee.city" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="state" class="form-label">State</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" id="state" type="text" formControlName="state"
                                name="state" [(ngModel)]="employee.state" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="postal" class="form-label">Postal</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" id="postal" type="text" formControlName="postal"
                                name="postal" [(ngModel)]="employee.postal" readonly>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- <label for="firstName">First Name: </label>
        <input class="form-control" id="firstName" type="text" formControlName="firstName"
            [(ngModel)]="employee.firstName" name="firstName" readonly> 

        <label for="lastName">Last Name: </label>
        <input class="form-control" id="lastName" type="text" formControlName="lastName"
            [(ngModel)]="employee.lastName" name="lastName" readonly>

        <label for="email">Email: </label>
        <input class="form-control" id="email" type="text" formControlName="email"
            [(ngModel)]="employee.email" name="email" readonly>

        <label for="ssn">Ssn: </label>
        <input class="form-control" id="ssn" type="text" formControlName="ssn"
            [(ngModel)]="employee.ssn" name="ssn" readonly>

        <label for="age">Age: </label>
        <input class="form-control" id="age" type="text" formControlName="age"
            [(ngModel)]="employee.age" name="age" readonly>

        <label for="height">Height: </label>
        <input class="form-control" id="height" type="text" formControlName="height"
            [(ngModel)]="employee.height" name="height" readonly>

        <label for="weight">Weight: </label>
        <input class="form-control" id="weight" type="text" formControlName="weight"
            [(ngModel)]="employee.weight" name="weight" readonly>

        <label for="gender">Gender: </label>
        <input class="form-control" id="gender" type="text" formControlName="gender"
            [(ngModel)]="employee.gender" name="gender" readonly>

        <h2>Address</h2>
        <form formGroupName="address">
            <label for="street">Street: </label>
            <input class="form-control" id="street" type="text" formControlName="street"
                [(ngModel)]="employee.street" name="street" readonly>

            <label for="city">City: </label>
            <input class="form-control" id="city" type="text" formControlName="city"
                [(ngModel)]="employee.city" name ="city" readonly>

            <label for="state">State: </label>
            <input class="form-control" id="state" type="text" formControlName="state"
                [(ngModel)]="employee.state" name="state" readonly>

            <label for="postal">Postal: </label>
            <input class="form-control" id="postal" type="text" formControlName="postal"
                [(ngModel)]="employee.postal" name="postal" readonly>
        </form> -->
    </form>
</div>


